<div class='card'>
  <div class='card-body'>
    <form>
     <!-- Fighter Name -->
      <div class="form-group">
        <label for="fighterName">Fighter Name</label>
        <input type="text" class="form-control" id="fighterName" name="fighterName" placeholder="Enter fighter name" [(ngModel)]="fighterName">
      </div>
      <!-- Fighter DOB -->
      <div class="form-group">
          <label for="fighterDOB">Fighter DOB</label>
          <input type="string" class="form-control" id="fighterDOB" name="fighterDOB" placeholder="Enter fighter date of birth" [(ngModel)]="fighterDOB">
      </div>
      <!-- Nationality -->
      <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Enter Nationality" [(ngModel)]="nationality">
      </div>
      <!-- Fighting Style -->
      <div class="form-group">
        <label for="fightingStyle">Fighting Style</label>
        <input type="text" class="form-control" id="fightingStyle" name="fightingStyle" placeholder="Enter fightingStyle" [(ngModel)]="fightingStyle">
      </div>
      <!-- Ranking -->
      <div class="form-group">
        <label for="ranking">Ranking</label>
        <input type="text" class="form-control" id="ranking" name="ranking" placeholder="Enter ranking" [(ngModel)]="ranking">
      </div>
      <!-- User Rating -->
      <div class="form-group">
        <label for="userRating">Enter User Ranking</label>
        <input type="number" class="form-control" id="userRating" name="userRating" placeholder="Enter User Rating" [(ngModel)]="userRating">
      </div>
      <!-- Comment -->
      <div class="form-group">
        <label for="comment">Enter Comment</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter Comment" [(ngModel)]="comment">
      </div>
      <!--Add Multiple Comments -->
      <div class="form-group">
        <label for="commentCollection">Enter multiple comments</label>
        <input type="text" class="form-control" id="commentCollection" name="commentCollection" placeholder="Enter multiple comments here" [(ngModel)]="commentCollection">
      </div>
   <!-- Search ClipArt API for images -->
      <div class="form-group" fxLayout="row" fxLayoutGap="20px">
          <input fxFlex="60" type="text" class="form-control" id="imageStr" name="imageStr" placeholder="Enter Image String"
          [(ngModel)]='imageStr'>
          <button fxFlex="20" mat-raised-button color="primary" type="submit" (click)="showHideDisplayClipartComponent()"> Find Images </button>
        </div>
        <!-- if there is Clip art, add its URL to the addImageString.... event -->
        <div class="form-group">
          <app-display-clipart (addImageStringEE)="addImageStringToFormTextBox($event)" *ngIf='showDisplayClipartComponent'
          [imageStr]='imageStr'></app-display-clipart>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter Image URL" [(ngModel)]='imageUrl'>
        </div>
      <button type="submit" (click)="addFighter()"  class="btn btn-primary">Add Fighter</button>
    </form>
  </div>
</div>