<div class='card'>
  <div class='card-body'>

    <div class="input-group mb-3" ng-repeat="fighter in fighters  | filter:query">

      <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="Filter by:" aria-label="Filter by:"
        aria-describedby="basic-addon1">
    </div>
    <h5 class="card-text">Filtered by: {{listFilter}}</h5>
    <div class='table-responsive'>
      <table class='table' *ngIf='fighters && fighters.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide':'Show'}} Image
              </button>
            </th>
            <th>Fighter</th>
            <th>D.O.B.</th>
            <th>Nationality</th>
            <th>Fighting Style</th>
            <th>User Rating</th>
            <th>Ranking</th>
            <th>Comments</th>
            <th>Comment Collection</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fighter of filteredFighters">
            <td>
              <img *ngIf='showImage' [src]='fighter.imageUrl' [title]='fighter.fighterName' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>{{fighter.fighterName | uppercase}}</td>
            <td>{{fighter.fighterDOB | convertToSpaces:'-'}}</td>
            <td>{{fighter.nationality}}</td>
            <td>{{fighter.fightingStyle}}</td>
            <td>{{fighter.userRating}}</td>
            <td>{{fighter.ranking}}</td>
            <td>{{fighter.comments}}</td>
            <td>{{fighter.commentCollection}}</td>
            <td>
              <app-star-rating [rating]='fighter.starRating' (notify)='onNotify($event)'></app-star-rating>
            </td>
            <td><button id="remove" class="btn" (click)="deleteFighter(fighter.fighterName)">
                <i class="fa fa-trash"></i> Trash</button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>