<div class='card'>
  <div class='card-body'>
    <!-- Filter by Fighter Name -->
    <div class="input-group mb-3" ng-repeat="fighter in fighters  | filter:query">
      <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="Filter by Fighter Name:" aria-label="Filter by:"
        aria-describedby="basic-addon1">
    </div>
    <!-- Checkbox Filter -->
    <div class="input-group mb-3">
      <input type="checkbox" id="flyW" [(ngModel)]="checkboxFilter.Flyweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Flyweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Bantamweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Bantamweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Featherweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Featherweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Lightweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Lightweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Welterweight" (ngModelChange)="filterChange()" style="margin-left: 20px;"> Welterweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Middleweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Middleweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Lightheavyweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Lightheavyweight
      <input type="checkbox" [(ngModel)]="checkboxFilter.Heavyweight" (ngModelChange)="filterChange()" style="margin-left: 20px;">Heavyweight
    </div>

    <h5 class="card-text">{{listFilter}}</h5>
    <div class='table-responsive'>
      <table class='table' *ngIf='fighters && fighters.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide':'Show'}} Image
              </button>
            </th>
            <th>Fighter</th>
            <th>D.O.B.</th>
            <th>Nationality</th>
            <th>Fighting Style</th>
            <!-- <th>User Rating</th> -->
            <th>P4P Ranking</th>
            <th>Weight Class</th>
            <th>Comments</th>
            <th>User Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fighter of filteredFighters">
            <td>
              <img *ngIf='showImage' [src]='fighter.imageUrl' [title]='fighter.fighterName' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>{{fighter.fighterName}}</td>
            <td>{{fighter.fighterDOB | convertToSpaces:'-'}}</td>
            <td>{{fighter.nationality}}</td>
            <td>{{fighter.fightingStyle}}</td>
            <td>{{fighter.ranking}}</td>

            <!-- <td>{{fighter.userRating}}</td> -->
            <td>{{fighter.weightClass}}</td>
            <!-- <td>{{fighter.comments}}</td> -->
            <td>{{fighter.commentCollection}}</td>
            <td>
              <app-star-rating [rating]='fighter.starRating' (notify)='onNotify($event)'></app-star-rating>
            </td>
            <td><button id="remove" class="btn" (click)="deleteFighter(fighter.id)">
                <i class="fa fa-trash"></i> Delete</button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>