<div class="background-ring" >
  <h2 class="home-page-text display-1 center" @fade>Welcome to</h2>
  <h1 class="home-page-text display-3 center" @fade> Fighter Reviewer</h1>
  <h5 class="home-page-text display-4 center" @fade> THE place to look for your favourite fighters</h5>
  <div class="clipart" @fade>
    <img src="https://drive.google.com/uc?id=13IhVRFU0RZKMPSvXz5Got70fQxUh0TUP">
  </div>
  <br/>
  <br/>
  <br/>
  <div class="card-holder">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" @leftwards_entry>
      <div class="card-header">Did you know?</div>
      <div class="card-body">
        <h4 class="card-title">Size doesn't matter</h4>
        <p class="card-text">It doesn't matter whether you are large and muscular or small and scrawny, skill is what matters.</p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;" @downwards_entry>
      <div class="card-header">Did you know?</div>
      <div class="card-body">
        <h4 class="card-title">Thai justice</h4>
        <p class="card-text">Thai prisoners are released early if they take part in special kickboxing matches against foreigners.</p>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem;" @rightwards_entry>
      <div class="card-header">Did you know?</div>
      <div class="card-body">
        <h4 class="card-title">Irish legend</h4>
        <p class="card-text">Liam Neeson was an Irish amateur boxing champion, a forklift driver for Guinness and dropped out of a degree in computer Science all before the age of 25.</p>
      </div>
    </div>
    </div>
</div>
